@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --main-bg-color: linear-gradient( to bottom, var(--navbar), aliceblue);
  --reverse-bg-color: linear-gradient( to top, var(--green), aliceblue);
  --alternate-bg-color: linear-gradient( to bottom, var(--green), aliceblue);
  --wine: rgb(22, 0, 53);
  --orange:rgb(255, 139, 61);
  --navbar:hsl(19, 99%, 27%);
  --green: hsl(129, 62%, 10%);
  --white:hsla(192, 10%, 90%, 0.979);
  --lightblue: hsl(197, 38%, 59%);
  --skyblue:hsla(192, 100%, 79%, 0.979);
  --silverblue:rgb(91, 128, 160);
  --lightgradient: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.4)
  );
  --headerfont: 2.2rem;
  --largefont: 2rem;
  --mediumfont:1.5rem;
  --smallfont: 1.25rem;
  --textfont: 1.1rem;
}

* {
  box-sizing: border-box; /*accounts for margin and padding in sizing, easier to size */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'EB Garamond', serif; 
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
}

ul {
  list-style-type: none; /* takes bullet points out */
}

h2, h3{
  line-height: 1.6;
  text-align: center;
}

h4{
  font-family: 'EB Garamond', serif;
  font-size: var(--textfont);
  text-align: center;
  font-weight: 200;
}

h5{
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%; /*keep images inside box container*/
}

a {
  text-decoration: none; /* takes underline out*/
  font-weight: 100;
}

a:visited{
  color: aliceblue;
}

a:active{   /* emulates pressing of button in 3d space */
  top: 1px;
}

/* navigation */

.navbar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar);
  color:hsla(192, 10%, 90%, 0.979);
  height: 8vh;
  margin-right: auto;
  top: 0;
  z-index: 99999;
}

.logo {
  font-family: 'Outfit', sans-serif;
  position: relative;
  margin-left: 2rem;
  color: var(--white);
  font-size: var(--smallfont);
  padding: 1.5rem;
  font-weight: 100;
  transition: color 500ms ease-out;
}

.logo:hover{
  color: var(--wine);
}

.navlinks{
  font-family: 'Outfit', sans-serif;
  display: flex;
  position: relative;
  width: 50%;
  right: 0;
  margin-left: auto;
}

.navlinks ul {
  display: flex; /*align navbar items in horizontal row */
  width: 100%;
  flex: 1;
}

.navlinks ul li{
  flex: 1;
}

.navlinks li a {
  display: flex;
  color: var(--white);
  padding: 1rem;
  /* margin-right: 2rem; */
  font-weight: 200;
  position: relative;
  justify-content: center;
  font-size: var(--textfont);
  border-left: var(--silverblue) solid 1px;
}

.navlinks li a:hover {
  color:aliceblue;
}

.navlinks li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--skyblue);
  height: 2px;
}

.navlinks ul li>a:hover:after {
  width: 50%;
}

nav a,
nav a:after,
nav a:before {
  transition: all .4s;
}

.book-button{
  background-color: var(--silverblue);
  color:aliceblue;
  padding: 1rem 2rem;
  height: 3rem;
  width: fit-content;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-overflow: none;
  border-radius: 1rem;
  border: var(--skyblue) .5px solid;
  transition: border-radius 500ms ease-out, background-color 420ms ease-out;
}

.book-button:hover{
  background-color: rgb(214, 75, 0);
  border-radius: 2rem;
  cursor: pointer;
}

nav .book-button{
  margin: auto 5rem auto 4rem;
}

#contact-nav{
  border-right: var(--silverblue) solid 1px;
}

/* home page */

.main-wrapper{
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 92vh;
}

.main-wrapper article{
  scroll-snap-align:start;
  min-height: fit-content;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
  height: 74vh;
  width: 100%;
}

.homevid {
  display:flex;
  position: absolute;
  width: 100%;
  margin:auto;
}

.content header{
  position: relative;
  width: 100%;
  margin: auto;
}

.content article{
  position: relative;
  width: 100%;
  padding: 2rem;
}

#content-one{
  position: relative;
  color:rgb(236, 245, 253);
  background: var(--main-bg-color);
}

#content-two{
  display: flex;
  position: relative;
  color: var(--silverblue);
  background: var(--reverse-bg-color);
}

.content-three{
  display: flex;
  position: relative;
  background: var(--alternate-bg-color);
}

header > h2{
  font-family: 'Outfit', sans-serif;
  font-size: var(--headerfont);
  font-weight: 100;
  margin: auto;
  width: fit-content;
  position: relative;
}

header > h3{
  position: relative;
  text-align: center;
  font-size: var(--mediumfont);
  line-height: 2;
  font-weight: 400;
  text-shadow: .2rem .4rem 22px rgb(124, 124, 124);
}

.home-main-header{
  font-size: var(--smallfont);
  margin: 2rem auto 0;
  transition: opacity 1s;
}

/* add weather API integration for current weather of cottonwood */

#weather:hover {
  border-bottom: 1px solid aliceblue;
  cursor: pointer;
}

.main-card-wrapper{
  display: grid;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 5rem auto;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr)); 
  gap: 2rem;
  /* gap: 10rem;  */
  max-width: 74%;
  /* border: rgb(200, 1, 200) solid 5px; */
}

.main-card{
  min-width: min-content;
  max-width: 52ch;
  height: fit-content;
  margin: auto;
  background-color:rgba(207, 233, 255, 0.74);
  color:var(--wine);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  box-shadow: .5rem 2px .5rem rgba(53, 53, 53, 0.2);
  transition: background-color 500ms ease-out;
  z-index: 2;
  border-radius: .8rem;
  border: rgb(211, 211, 211) solid 1px;
}

.main-card:hover{
  color:aliceblue;
  cursor: pointer;
}

.main-card header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  bottom: 26.5vh;
  color:aliceblue;
  z-index: 4;
  min-height: 7vh;
  width: 56%;
  background: var(--silverblue); 
  border: rgb(225, 241, 255) solid 1px;
  border-radius: .7rem;
}

.main-card p{
  margin: auto;
  position: relative;
  bottom: 2rem;
  font-size: var(--textfont);
  line-height: 1.5;
  font-weight: 200;
  max-width: 90%;
}

.main-card img{
  border-radius: .4rem;
  position: relative;
  align-self: baseline;
  max-height: 22vh;
  max-width: fit-content;
  margin: 0 auto; 
  border: aliceblue solid 1px;
}

#main-card-one:hover{
  background: var(--silverblue);
  color: aliceblue;
}

#main-card-two header, #main-card-two:hover{
  background: rgb(14, 54, 0);
  color: aliceblue;
}

#main-card-three header, #main-card-three:hover{
  background: var(--wine);
  color: aliceblue;
}

.main-img-map{
  width: 70%;
  border: black solid 5px;
  margin: auto;
}

article p{
  width: 100%;
  font-size: var(--smallfont);
  line-height: 1.3;
  position: relative;
}

.home-slogan{
  text-decoration: underline var(--alternate-bg-color) 2.2px;
  transition: 2s;
}

.main-wine-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 22rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: min-content;
  max-height: max-content;
  margin: 2rem auto 0;
  width: 70%;
  /* border: black solid 3px; */
}

.main-wine{
  position: relative;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  backdrop-filter: blur(20px);
  margin: auto;
  width: 90%;
  height: 20rem;
  row-gap: 5rem;
  box-shadow: 0 .1rem 1rem rgba(146, 58, 0, 0.377);
  transition: background-color 750ms ease-in-out;
  z-index: 2;
  border-radius: 1rem;
  border: aliceblue solid 1px;
}

.main-wine:hover{
  background-color: var(--wine);
  color: white;
}

.main-wine:hover p{
  color: aliceblue;
  transition: color 500ms ease-out;
}

.main-wine header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 1.1rem;
  padding: 1rem 4rem;
  background: var(--wine); 
  min-height: 3rem;
  width: 100%;
  color:aliceblue;
  border: aliceblue solid 1px;
  border-radius: .8rem;
  z-index: 4;
}

.main-wine h4{
  font-size: 1rem;
}

/* .main-wine:nth-child(odd){
  color:red;
} */

.main-wine p{
  position: relative;
  margin: auto;
  bottom: 3.8rem;
  padding: 1.1rem;
  font-size: var(--smallfont);
  line-height: 1.2;
  font-weight: 300;
  max-width: 99%;
  color:var(--wine);
}

.main-wine img{
  position: relative;
  bottom: 3.5rem;
  width: 100%;
  height: 11rem;
  border-radius: .4rem;
}

.cities-wrapper{
  display: flex;
  margin: auto;
  max-width: 90vw;
  min-height: min-content;
}

.cities{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 30vh;
  gap: 2rem;
  height: fit-content;
  width: 45vw;
  text-align: center;
  align-items: center;
  margin: auto 2rem;
}

.main-cities{
  display: flex;
  background: linear-gradient(
    to right bottom,
    var(--silverblue),
    rgba(255, 255, 255, 0.7)
  );
  height: 30vh;
  background-size: cover;
  border-radius: .4rem;
  border: aliceblue solid 1px;
  transition: ease-in-out border-radius 400ms, opacity 500ms ease-in-out;
  color: aliceblue;
}

.main-cities:hover{
  border-radius: 2rem;
  opacity: 80%;
}

#cottonwood{
  background-image: url("Images2/cotton.jpg");
}

#sedona{
  background-image: url("Images2/sedona.jpg"); 
}

#jerome{
  background-image: url("Images2/jerome.jpg"); 
}

#campverde{
  background-image: url("Images2/campverde.jpg"); 
}

#cities-header{
  color:var(--wine);
}

.main-cities h6{
  font-size: 1.4rem;
  font-weight: 300;
}

#wine-map-click{
  padding: .4rem;
  font-weight: 200;
  border-bottom: aliceblue solid 1px;
  color: var(--silverblue);
}

#wine-map-click:hover{
  color:black;
}

.wine-info-address{
  display: inline-block;
  font-size: 1rem;
  font-weight: 200;
  margin-top: .7rem;
}

#wine-header{
  color:aliceblue;
}

.kayakmap{
  max-height: 40vh;
  width: auto;
  border-radius: .7rem;
}

#verdemap-wrapper{
  display: inline-flex;
}

#verdemap{
  margin: 2rem 4rem;
  max-height: 74vh;
  width: auto;
  border: 1px solid rgb(1, 77, 1);
  border-radius: .7rem;
}

.input-date{
  font-size: var(--mediumfont);
  /* font-weight: 500; */
  text-align: center;
}

.input-date-label{
  left:0;
}

.dash{
  border: 2px solid rgb(189, 71, 3);
  border-radius: 20% 10% 20% 10%;
  width: 1rem;
}

#main-end-book .book-button{
  /* display: flex; */
  height: fit-content;
  margin: 4rem auto;
}

/* about page */

#house {
  height: min-content;
  width: 100vw;
  background: var(--main-bg-color);
}

#house-header {
  font-weight: 200;
  padding: 1.5rem 0;
  color: aliceblue;
  font-size: var(--largefont);
}

#about-main-wrap {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 2rem;
  /* border: red solid 10px; */
}

#about-main-wrap h3{
  border-bottom: rgb(208, 208, 208) double 4px;
  width: 80%;
  margin: 0 auto 2rem;
  color: var(--navbar);
}

#about-main-wrap ul{
  position: sticky;
  top: 8rem;
  font-size: var(--smallfont);
  font-weight: 300;
  margin: 2rem;
  line-height: 1.6;
  width: 25vw;
  height: fit-content;
  padding: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  list-style-type: circle;
  border: aliceblue solid 1px;
  border-radius: .7rem 1.4rem;
}

#house ul li {
  margin: 1rem auto;
  color: var(--darkpurple);
  width: 85%;
  font-size: var(--smallfont);
  font-weight: 400;
  text-align: start;
}

.house-images-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 2rem;
  width: 95%;
  margin: 2rem auto;
  border-radius: .4rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  padding: 3rem;
  border: var(--silverblue) solid 1px;
}

.house-images-wrapper img {
  height: auto;
  border-radius: .1rem;
}

.calendar-wrap {
  margin: auto;
  height: 32vh;
  width: fit-content;
  background: var(--lightgradient);
  padding: 4rem;
  border-radius: .7rem;
  border: aliceblue solid 1px;
}
 
.dates-interested {
  height: 7vh;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.gradient {
  position: relative;
  bottom: 11rem;
  background: var(--lightgradient);
  border-radius: .7rem;
  padding: .5rem 3rem;
  margin: 2rem auto 0;
  color: var(--darkpurple);
  width: fit-content;
  border: aliceblue solid 1px;
}

/* contact page */

.contact-main{
  height: 100vh;
  /* padding-bottom: 20vh; */
  position: relative;
  margin: auto;
  background: var(--main-bg-color);
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

.contact-main header{
  height: fit-content;
  max-width: 30%;
  margin: auto;
  position: relative;
}

.contact-main h3{
  text-align: start;
  margin: 0 0 0 7%;
  padding-top: 11%;
  color: aliceblue;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  font-size: var(--mediumfont);
}

.contact-main h4{
  margin-left: 50%;
  padding-top: 10%;
  color: rgba(198, 195, 189, 0.889);
  width: 40%;
  font-size: 16px;
  text-align: end;
}

#contact-wrapper{
  height: 100vh;
  /* scroll-snap-align: start; */
}

form{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-auto-rows: fit-content;
  gap: 2rem;
  width: 90%;
  max-width: 35rem;
  height: 44rem;
  padding: 4rem;
  margin: 3vh auto;
  backdrop-filter: blur(2rem);
  box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.199);
  border: 4px rgba(255, 255, 255, 0.155) solid;
  border-radius: 1rem;
}

label{
  font-size: var(--smallfont);
  font-weight: 300;
} 

input, textarea {
  width: 100%;
  max-width: 25rem;
  margin-top: 1rem;
  padding: .3rem .7rem;
  outline: 0;
  border: 3px rgba(255, 255, 255, 0.462) solid;
  border-radius: .4rem .2rem;
  background: transparent;
  font-size: 1rem;
}

.contact-date{
  margin: .5rem 0;
  width: min-content;
}

form p{
  width: 100%;
  position: relative;
  margin: auto;
  color: aliceblue;
}

button{
  background: none;
  border: 1px rgba(255, 255, 255, 0.462) solid;
  border-radius: 1rem;
}

#contact-book-button{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
}

/* payment/availability page*/


/* mobile reponsiveness */

@media only screen and (max-width: 1300px) {
  
  html{
    /* overflow-y: hidden; */
    overflow-x: hidden;
  }

  header > h2{
    transition: 1000ms font-size;
    font-size: 2rem;
    text-align: start;
  }

  header > h3{
    font-size: var(--textfont);
    position: relative;
    padding: 1rem 0 4rem;
  }

  h4{
    font-size: .8rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--navbar);
    color:var(--white);
    height: 8vh;
  }

  .burger {
    position: absolute; /*keeps hamburger menu locked on right side of screen*/
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.7rem;
    height: 1.4rem;
    margin:auto;
    cursor: pointer;
  }

  .burger .bar{
    height: .1rem;
    width: 100%;
    background-color: var(--white);
    border-radius: 1rem; 
  }

  #bar2{
    width: 74%;
    align-self: flex-end;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -999;
    width: 100%;
  }

  .homevid {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    left: none;
    right: none;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .logo{
    margin: auto;
    font-size: var(--textfont);
    margin-left: 0;
    padding: 1rem;
  }

  .navlinks{
    display: flex;
    position: relative;
    width: auto;
    right: 0;
    margin-left: auto;
  }
  
  .navlinks-menu.active{
    transform: translateX(0%);
  }

  .navlinks ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 4vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
  }
 
  .navlinks ul li{
    width: 100%;
    margin: 2rem 0;
  }

  .navlinks ul li a {
    color: black;
    padding: .5rem 1rem;
    width: auto;
    height: 95%;
    align-items: center;
    font-weight: 300;
    font-size: var(--smallfont);
  }

  ul .book-button{
    display: none;
  }

  .columns{
    grid-auto-flow: row;
  }

  .main-card-wrapper{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    column-gap: 1rem;
    row-gap: 7vh;
    min-height: fit-content;
  }

  .main-card header{
    bottom: 20vh;
    font-size: var(--smallfont);
    min-height: 3.5rem;
  }

  .main-wrapper{
    scroll-snap-type:none;
    overflow-y: none;
    /* height: 100vh; */
  }

  .main-wrapper article{
    scroll-snap-align:start;
    height: auto;
    /* border:red solid 3px; */
    /* border: black solid 3px; */
  }
  
  .main-card p{
    font-size: .8rem;
  }

  .main-card img{
    max-height: 16vh;
  }

  #verdemap{
    margin: 2rem auto;
    width: 100%;
    max-width: 40rem;
    height: auto;
  }

  .cities-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    min-height: min-content;
  }  

  .cities{
    gap: 0;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 84%;
  }

  .main-cities{
    display: flex;
    height: 22vh;
    width: 75%;
    margin: auto;
  }

  .main-wine-wrapper{
    position: relative;
  }

  .main-wine h4{
    font-size: .8rem;
    width: 70%;
  }

  form{
    position: relative;
    margin-top: 7vh;
    padding: 2rem;
  }

  .contact-main header{
    max-width: 90%;
    bottom:0;
  }

  .contact-main h4{
    padding-top: 0;
  }

}
