@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --main-bg-color: linear-gradient( to bottom, var(--navbar), var(--silverblue));
  --reverse-bg-color: linear-gradient( to top, var(--silverblue), white);
  --wine: #160035;
  --wine2:#0c001e;
  --orange:#652000;
  --navbar:#892c01;
  --darkgreen: #001e04;
  --green:rgba(0, 70, 0, 0.513);
  --white:hsla(192, 10%, 90%, 0.979);
  --lightblue: #6fa8be;  
  --skyblue:hsla(192, 100%, 79%, 0.979);
  --silverblue:#3e6586;
  --lightgradient: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.4)
  );
  --headerfont: 2.2rem;
  --largefont: 2rem;
  --mediumfont:1.5rem;
  --smallfont: 1.25rem;
  --textfont: 1.1rem;
}

* {
  box-sizing: border-box; /*accounts for margin and padding in sizing, easier to size */
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'EB Garamond', serif; 
  font-weight: 100;
  line-height: 1.5;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none; /* takes bullet points out */
}

h2, h3{
  line-height: 1.6;
  text-align: center;
}

h4{
  font-family: 'EB Garamond', serif;
  font-size: var(--textfont);
  text-align: center;
  font-weight: 200;
}

h5{
  padding: 2rem;
  text-align: center;
}

p{
  line-height: 1.6;
}

img {
  width: 100%; /*keep images inside box container*/
}

a {
  text-decoration: none; /* takes underline out*/
  font-weight: 100;
}

a:visited{
  color: aliceblue;
}

a:active{   /* emulates pressing of button in 3d space */
  top: 1px;
}

form{
  font-family: 'Outfit', sans-serif;
}

/* navigation */

#navbar {
  display: flex;
  position: sticky;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar);
  color:hsla(192, 10%, 90%, 0.979);
  height: 8vh;
  margin-right: auto;
  top: 0;
  z-index: 99999;
}

.logo {
  font-family: 'Outfit', sans-serif;
  position: relative;
  margin-left: 2rem;
  color: var(--white);
  font-size: var(--smallfont);
  padding: 1.5rem;
  font-weight: 100;
  transition: color 500ms ease-out;
}

.logo:hover{
  color: var(--wine);
}

.navlinks{
  font-family: 'Outfit', sans-serif;
  display: flex;
  position: relative;
  width: 50%;
  right: 0;
  margin-left: auto;
}

.navlinks ul {
  display: flex; /*align navbar items in horizontal row */
  width: 100%;
  flex: 1;
}

.navlinks ul li{
  flex: 1;
}

.navlinks li a {
  display: flex;
  color: var(--white);
  padding: 1rem;
  /* margin-right: 2rem; */
  font-weight: 200;
  position: relative;
  justify-content: center;
  font-size: var(--textfont);
  border-left: var(--silverblue) solid 1px;
}

.navlinks li a:hover {
  color:aliceblue;
}

.navlinks li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--skyblue);
  height: 2px;
}

.navlinks ul li>a:hover:after {
  width: 33%;
}

nav a,
nav a:after,
nav a:before {
  transition: all .4s;
}

.book-button{
  background-color: var(--silverblue);
  color:aliceblue;
  padding: 1.5rem 2rem;
  height: 6vh;
  width: fit-content;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-overflow: none;
  border-radius: .8rem;
  border: var(--skyblue) .5px solid;
  transition: border-radius 750ms ease-out, background-color 500ms ease-out;
}

.book-button:hover{
  background-color: rgb(214, 75, 0);
  border-radius: 2rem;
  cursor: pointer;
}

.book-button.active{
  background-color: rgb(214, 75, 0);
  border-radius: 2rem;
  cursor: pointer;
}

nav .book-button{
  margin: auto 5rem auto 4rem;
}

#contact-nav{
  border-right: var(--silverblue) solid 1px;
}

/* home page */

.main-wrapper{
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 92vh;
}

.main-wrapper article{
  scroll-snap-align:start;
  max-height: 600px;
  /* max-height: 60em; */
  /* border: black solid 3px; */
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
  height: 74vh;
  width: 100%;
}

.homevid {
  display:flex;
  position: absolute;
  width: 100%;
  margin:auto;
}

.content header{
  position: relative;
  width: 100%;
  margin: auto;
}

.content article{
  position: relative;
  width: 100%;
  padding: 2rem;
}

#content-one{
  position: relative;
  color:rgb(236, 245, 253);
  background: var(--main-bg-color);
}

#content-two{
  position: relative;
  color: var(--silverblue);
  background: var(--reverse-bg-color);
  scroll-behavior: smooth;
}

.content-three{
  position: relative;
  background: var(--alternate-bg-color);
}

header > h2{
  font-family: 'Outfit', sans-serif;
  font-size: var(--headerfont);
  font-weight: 100;
  margin: auto;
  width: fit-content;
  position: relative;
}

header > h3{
  position: relative;
  font-size: var(--mediumfont);
  line-height: 2;
  font-weight: 400;
  text-shadow: .2rem .4rem 22px rgb(124, 124, 124);
}

.home-main-header{
  font-size: var(--smallfont);
  margin: 2rem auto 0;
  transition: opacity 1s;
}

/* add weather API integration for current weather of cottonwood */

/* #weather:hover {
  border-bottom: 1px solid aliceblue;
  cursor: pointer;
} */

.main-card-wrapper{
  display: grid;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 5rem auto;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr)); 
  gap: 2rem;
  max-width: 74%;
}

.main-card{
  min-width: min-content;
  max-width: 25em;
  height: fit-content;
  margin: auto;
  background-color:rgba(207, 233, 255, 0.74);
  color:var(--wine);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  box-shadow: .5rem 2px .5rem rgba(53, 53, 53, 0.2);
  transition: background-color 500ms ease-out;
  z-index: 2;
  border-radius: .8rem;
  border: rgb(211, 211, 211) solid 1px;
}

.main-card:hover{
  color:aliceblue;
  cursor: pointer;
}

.main-card header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  bottom: 26.5vh;
  color:aliceblue;
  z-index: 4;
  min-height: 7vh;
  width: 56%;
  background: var(--silverblue); 
  border: rgb(225, 241, 255) solid 1px;
  border-radius: .7rem;
}

.main-card p{
  margin: auto;
  position: relative;
  bottom: 2rem;
  font-size: var(--textfont);
  line-height: 1.5;
  font-weight: 200;
  max-width: 90%;
}

.main-card img{
  border-radius: .4rem;
  position: relative;
  align-self: baseline;
  max-height: 22vh;
  max-width: fit-content;
  margin: 0 auto; 
  border: aliceblue solid 1px;
}

#main-card-one:hover{
  background: var(--silverblue);
  color: aliceblue;
}

#main-card-two header, #main-card-two:hover{
  background: var(--darkgreen);
  color: aliceblue;
}

#main-card-three header, #main-card-three:hover{
  background: var(--wine);
  color: aliceblue;
}

.spacer{
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.graphic{
  background-image: url('Images2/wave44.svg');
}

.graphic2{
  background-image: url('Images2/tabletwave.svg');
}

.graphic3{
  background-image: url('Images2/wave41.svg');
}

.graphic4{
  background-image: url('Images2/section3.svg');
}

.graphic5{
  background-image: url('Images2/wave50.svg');
}

.main-img-map{
  width: 70%;
  border: black solid 5px;
  margin: auto;
}

article p{
  width: 100%;
  font-size: var(--smallfont);
  position: relative;
}

.home-slogan{
  text-decoration: underline var(--alternate-bg-color) 2.2px;
  transition: 2s;
}

.main-wine-wrapper{
  display: grid;
  position: relative;
  bottom: 15vh;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 25rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: min-content;
  max-height: max-content;
  margin: 2rem auto 0;
  width: 70%;
}

.main-wine{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: aliceblue;
  margin: auto;
  width: 90%;
  height: fit-content;
  box-shadow: 0 .1rem .4rem rgba(255, 255, 255, 0.631);
  transition: background-color 500ms ease-in-out;
  z-index: 2;
  border-radius: 1rem;
  border: aliceblue solid 1px;
}

.main-wine:hover{
  background: var(--wine);
  color: white;
}

.main-wine:hover p{
  color: aliceblue;
  transition: color 750ms ease-in-out;
}

.main-wine header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem 2rem;
  background: var(--wine); 
  min-height: 3rem;
  width: 100%;
  color:aliceblue;
  border: aliceblue solid 1px;
  border-radius: .8rem 0 2rem 0;
  z-index: 4;
}

.border.border1{
  border-radius: .2em .2em 1em 1em;
}

.main-wine h4{
  font-size: 1rem;
}

.main-wine p{
  position: relative;
  margin: auto;
  /* bottom: 3.8rem; */
  padding: 1rem 2rem;
  font-size: var(--smallfont);
  line-height: 1.2;
  font-weight: 300;
  max-width: 99%;
  color:var(--wine);
}

.main-wine img{
  align-self: flex-start;
  position: relative;
  /* bottom: 5rem; */
  width: 100%;
  height: 175px;
  border-radius: .4rem;
}

.cities-wrapper{
  /* padding-top: 2rem; */
  position: relative;
  top: 2rem;
  display: flex;
  margin: 4rem auto;
  max-width: 85vw;
  height: fit-content;
  /* border: red solid 3px; */
}

.cities{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 30vh;
  gap: 2em 4em;
  position: relative;
  bottom: 3rem;
  height: fit-content;
  width: 45vw;
  text-align: center;
  align-items: center;
  margin: auto;
}

.main-cities{
  display: flex;
  background: linear-gradient(
    to right bottom,
    var(--silverblue),
    rgba(255, 255, 255, 0.7)
  );
  height: 25vh;
  background-size: cover;
  border-radius: .3rem;
  transition: ease-in-out border-radius 350ms, opacity 300ms ease-in-out, color 250ms ease-in-out;
}

.main-cities:hover{
  border-radius: 2rem;
  opacity: 80%;
  color: rgb(18, 0, 117);
}

#cottonwood{
  background-image: url("Images2/cotton.jpg");
}

#sedona{
  background-image: url("Images2/sedona.jpg"); 
}

#jerome{
  background-image: url("Images2/jerome.jpg"); 
}

#campverde{
  background-image: url("Images2/campverde.jpg"); 
}

#cottonwood, #jerome{
  position: relative;
  bottom: 1.5rem;
}

#cities-header h3{
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  position: relative;
  right: 25%;
  top: 1em;
  color:aliceblue;
}

.main-cities h6{
  font-size: var(--mediumfont);
  font-weight: 300;
  position: relative;
  bottom: 16vh;
  margin: auto;
  border-bottom: rgba(240, 248, 255, 0.238) solid 3px;
  width: fit-content;
  opacity: 70%;
}

.main-cities h6:hover{
  opacity: 100%;
}

/* section 3 */

#wine{
  max-height: min-content;
}

#wine-map-click{
  padding: .4rem;
  font-weight: 200;
  border-bottom: aliceblue solid 1px;
  color: var(--silverblue);
}

#wine-map-click:hover{
  color:black;
}

.wine-info-address{
  display: inline-block;
  font-size: 1rem;
  font-weight: 200;
  margin-top: .7rem;
}

#wine-header{
  color:aliceblue;
  margin: 0 auto 10rem;
}

.kayakmap{
  max-height: 40vh;
  width: auto;
  border-radius: .7rem;
}

#verdemap-wrapper{
  display: inline-flex;
}

#verdemap{
  position: relative;
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 20vh;
  bottom: 2rem;
  max-height: 65vh;
  width: auto;
  border-radius: .7rem;
}

.input-date{
  font-size: var(--mediumfont);
  /* font-weight: 500; */
  text-align: center;
}

.input-date-label{
  left:0;
}

.dash{
  border: 2px solid rgb(189, 71, 3);
  border-radius: 20% 10% 20% 10%;
  width: 1rem;
}

#main-end-book .book-button{
  height: fit-content;
  padding: 1rem 2rem;
  margin: auto;
}

/* about page */


#house {
  height: min-content;
  width: 100vw;
  background: var(--main-bg-color);
}

#house-header {
  padding: 1.5rem;
  color: aliceblue;
  font-size: var(--largefont);
}

#about-main-wrap {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 2rem;
  /* border: red solid 10px; */
}

#about-main-wrap h3{
  border-bottom: rgb(208, 208, 208) double 4px;
  width: 80%;
  margin: 0 auto 2rem;
  color: var(--navbar);
}

#about-main-wrap ul{
  position: sticky;
  top: 8rem;
  font-size: var(--smallfont);
  font-weight: 300;
  margin: 2rem;
  line-height: 1.6;
  width: 25vw;
  height: fit-content;
  padding: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  list-style-type: circle;
  border: aliceblue solid 1px;
  border-radius: .7rem 1.4rem;
}

#house ul li {
  margin: 1rem auto;
  color: var(--darkpurple);
  width: 85%;
  font-size: var(--smallfont);
  font-weight: 400;
  text-align: start;
}

.house-images-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 2rem;
  width: 95%;
  margin: 2rem auto;
  border-radius: .4rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  padding: 3rem;
}

.house-images-wrapper img {
  /* width: 50%; */
  height: auto;
  border-radius: .1rem;
}

/* contact page */

.contact-main{
  height: fit-content;
  position: relative;
  background: var(--main-bg-color);
}

.contact-main header{
  height: fit-content;
  max-width: 30%;
  margin: auto;
  position: relative;
}

.contact-main h3{
  text-align: start;
  margin: 0 0 0 7%;
  padding-top: 11%;
  color: aliceblue;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  font-size: var(--mediumfont);
}

.contact-main h4{
  margin-left: 50%;
  padding-top: 10%;
  color: rgba(198, 195, 189, 0.889);
  width: 40%;
  font-size: 16px;
  text-align: end;
}

#contact-wrapper{
  height: fit-content;
}

#contact-form{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-auto-rows: fit-content;
  gap: 2rem;
  width: 90%;
  max-width: 35rem;
  height: fit-content;
  padding: 4rem;
  margin: 3vh auto 0;
  backdrop-filter: blur(2rem);
  box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.199);
  border: 4px rgba(255, 255, 255, 0.155) solid;
  border-radius: .8rem;
  font-weight: 100;
}

label{
  font-size: var(--smallfont);
  color: white;
  /* font-weight: 300; */
} 

input, textarea {
  width: 100%;
  max-width: 25rem;
  margin-top: 1rem;
  padding: .3rem .7rem;
  outline: 0;
  border: 3px rgba(255, 255, 255, 0.462) solid;
  border-radius: .4rem .2rem;
  background: transparent;
  font-size: 1rem;
}

.contact-date{
  margin: .5rem 0;
  width: min-content;
}

form p{
  width: 100%;
  position: relative;
  margin: auto;
  color: aliceblue;
}

button{
  background: none;
  border: none;
}

#contactbutton{
  display: flex;
  justify-content: center;
}

#contactbutton.bookpage{
  /* border: red solid 3px; */
  margin: 3rem auto 2rem;
}

#bookdisclaimer{
  /* padding-top: 1rem; */
  /* border: black solid 3px; */
  font-size: 14px;
}

/* payment/availability page*/

#book-wrap{
  display: flex;
  justify-content: center;
  height: fit-content;
}

#book{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: fit-content;
  position: relative;
  top: 7vh;
  width: 25%;
  max-width: 30rem;
  margin: 2rem auto 0;
  background:linear-gradient(to bottom, rgba(87, 185, 255, 0.731), rgba(255, 255, 255, 0.193));
  box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.199);
  border: rgb(189, 210, 225) solid 4px;
  border-radius: 1rem;
}

#calendar{
  position: relative;
  overflow: hidden;
  top: 7vh;
  left: 15vh;
  margin: auto;
  width: 50vw;
  max-width: 60rem;
  height: 74vh;
}

#calendar iframe{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:linear-gradient(to bottom, #69b8fea1, rgba(255, 255, 255, 0.841));
  backdrop-filter: blur(2rem);
  box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.199);
  border: rgb(189, 210, 225) solid 2px;
  border-radius: 1rem;
  padding: 1rem;
}

#calendar-wrap h3{
  color: aliceblue;
  font-size: 24px;
  position: relative;
  top: 5vh;
  left: 15vh;
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
}

#dates-interested h2{
  color:white;
}

#dates-interested h3{
  color:var(--navbar);
}

.date-book{
  margin: 1rem auto 0;
  text-align: center;
  color: aliceblue;
}

.dateend{
  margin: 1rem auto 0;
}

.calendardesktop{
  display: flex;
}

.calendarmobile{
  display: none;
}

.form-entry{
  position: relative;
  padding-bottom: 2rem;
  /* border: black solid 2px; */
}

.form-entry i{
  position: absolute;
  top: 3.5rem;
  right: .5rem;
  visibility: hidden;
}

.form-entry small{
  visibility: hidden;
 }

.form-entry.success input{
  border-color: var(--green);
}

.form-entry.error input{
  border-color: var(--navbar);
}

.form-entry.success i.fa-check{
  color: var(--green);
  visibility: visible;
}

.form-entry.error i.fa-circle-xmark{
  color: var(--navbar);
  visibility: visible;
}

.form-entry.error small{
  visibility: visible;
}

.date-book.error{
  border: var(--navbar) solid 3px;
}

.date-book.success{
  border: var(--green) solid 3px;
}

#dash{
  color: var(--navbar);
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

/* tablet responsiveness */

/* @media all and (min-width:768px) and (max-width:1300px){
} */
/* mobile responsiveness */

@media only screen and (max-width: 1400px) {
  
  html{
    /* overflow-y: hidden; */
    overflow-x: hidden;
  }

  header > h2{
    transition: 1000ms font-size;
    font-size: 2rem;
    text-align: start;
  }

  header > h3{
    font-size: var(--textfont);
    position: relative;
    padding: 1rem 0 4rem;
  }

  h4{
    font-size: .8rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--navbar);
    color:var(--white);
    height: 8vh;
  }

  .burger {
    position: absolute; /*keeps hamburger menu locked on right side of screen*/
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.7rem;
    height: 1.4rem;
    margin:auto;
    cursor: pointer;
  }

  .burger .bar{
    height: .1rem;
    width: 100%;
    background-color: var(--white);
    border-radius: 1rem; 
  }

  #bar2{
    width: 74%;
    align-self: flex-end;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -999;
    width: 100%;
  }

  .homevid {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    left: none;
    right: none;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .logo{
    margin: auto;
    font-size: var(--textfont);
    margin-left: 0;
    padding: 1rem;
  }

  .navlinks{
    display: flex;
    position: relative;
    width: auto;
    right: 0;
    margin-left: auto;
  }
  
  .navlinks-menu.active{
    transform: translateX(0%);
  }

  .navlinks ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 4vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
  }
 
  .navlinks ul li{
    width: 100%;
    margin: 2rem 0;
  }

  .navlinks ul li a {
    color: black;
    padding: .5rem 1rem;
    width: auto;
    height: 95%;
    align-items: center;
    font-weight: 300;
    font-size: var(--smallfont);
  }

  ul .book-button{
    display: none;
  }

  .columns{
    grid-auto-flow: row;
  }

  .main-card-wrapper{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    column-gap: 1rem;
    row-gap: 7vh;
    min-height: fit-content;
  }

  .main-card header{
    bottom: 20vh;
    font-size: var(--smallfont);
    min-height: 3.5rem;
  }

  .main-wrapper{
    scroll-snap-type:none;
    overflow-y: none;
    /* height: 100vh; */
  }

  .main-wrapper article{
    scroll-snap-align:start;
    height: auto;
    /* border:red solid 3px; */
    /* border: black solid 3px; */
  }
  
  .main-card p{
    font-size: .8rem;
  }

  .main-card img{
    max-height: 16vh;
  }

  #verdemap{
    margin: 0 auto 4em;
    width: 100%;
    max-width: 40rem;
    height: auto;
    bottom: 7rem;
  }
  #cities-header h3{
    top: 0;
    right:0;
  }
  .cities-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    min-height: min-content;
  }  

  .cities{
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 84%;
  }

  .main-cities{
    display: flex;
    height: 22vh;
    width: 75%;
    margin: auto;
  }

  .main-wine-wrapper{
    position: relative;
  }

  .main-wine h4{
    font-size: .8rem;
    width: 70%;
  }

  form{
    position: relative;
    margin-top: 7vh;
    padding: 2rem;
  }

  .contact-main header{
    max-width: 90%;
    bottom:0;
  }

  .contact-main h4{
    padding-top: 0;
  }

  #calendar{
    margin: auto;
    width: 90%;
    margin: auto;
    top: 0;
    left: 0;
  }

  .calendardesktop{
    display: none;
  }

  .calendarmobile{
    display:block;
  }

  #book-wrap{
    flex-direction: column;
    width: 100%;
  }

  #book{
    margin: 2rem auto;
    width: 90%;
  }

  #calendar-wrap h3{
    font-size: 24px;
    position: relative;
    padding: 0;
    margin: 2rem auto;
    top: 0;
    left: 0;
  }

  #dates-interested h3{
    padding: 1em;
  }
  
  /* about page */

  #about-main-wrap{
    flex-direction: column;
  }

  #about-main-wrap ul{
    position: sticky;
    top: 8rem;
    font-size: var(--smallfont);
    font-weight: 300;
    margin: 1rem auto;
    line-height: 1.6;
    width: 90%;
    height: fit-content;
    padding: 1rem;
  }

  #about-main-wrap h3{
    padding: 1rem;
  }

  .house-images-wrapper {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    gap: 2rem;
    margin: auto;
    padding: 2rem 1rem;
    max-width: 40em;
  }

  #cottonwood, #jerome{
    bottom:0;
  }
}
